/* Login.module.css */

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9; /* Light gray background for contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginTitle {
    color: #cbc750; /* Styled to match the initial theme */
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.loginFormGroup {
    width: 100%; /* Adjusted width to match Register styles */
    margin: 0 auto;
    margin-bottom: 20px;
}

.loginLabel {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    color: #cbc750; /* Slightly lighter than the h2 for hierarchy */
}

.loginInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; /* Adjusted width to fill the form-group */
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 22px 33px;
    background-color: #cbc750; /* Dark background for the button */
    color: #2d2d2d; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large;
}

.loginButton:hover {
    background-color: #1a1a1a; /* Slightly darker on hover */
    color: #cbc750;
    border: #ccc;
    border-style: solid;
}
